body{
    margin: 0%;
    padding: 0%;
}
.border-provided{
    display: flex;
    justify-content: center;
  margin-bottom: 10px;
}
/* card item  */
 
.text-center img{
    margin-bottom: 25px;
}
.shadow-cute{
    box-shadow: 10px 10px 10px gray ;
}
 
.card-link{
    background-color: rgba(13, 84, 190, 0.753);
    color: white;
    text-decoration: none;
    border: 1px solid #215db8;
    padding: 2px;
        border-radius: 10px;

}
.bg-color{
    background-color: #F7F8FA;
    padding-top: 100px;
    padding-bottom: 50px;
}
.col-4{
    border-radius: 50%;
}
/* progress  */
.year-wow{
   font-weight: 300;
   font-size: 130px;
   
}
/* my skill item  */
.skill-title{
    font-weight: 300px;
    font-size: 50px;
   ;
}
.card-link{
    display: block;
    margin-bottom: 3px;
    text-align: center;
}
/* .bg-colors{
    padding: 30px;
    background-color: #6443f2 ;
    margin-top: 100px;
} */
.font-style{
    color: white;
    
    font-weight: 700;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
/* mouse over link */
.nav-link:hover{
    
   
    border-radius: 100px;
    border: 1px solid white;
    background-color: tomato;
}
.card-link:hover {
    padding-top: 70px;
    border-radius: 30px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
    text-decoration: solid;
    padding: 1px;
    
    

}




.carousel-item img{
   border-radius: 930px;
   margin: 30px;
}
